{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ai-trip-planner.serviceAccountName" . }}
  namespace: {{ include "ai-trip-planner.namespace" . }}
  labels:
    {{- include "ai-trip-planner.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
